{{define "buy_info"}}
{{template "header" }}

<body>
    <main class="px-3" style="margin-top: 30%; margin-bottom: 35%;">
        <h1 style="color: aliceblue;">{{.id}}</h1>
        <form action="/save_articles" method="post">
            <input type="text" name="title" id="title" placeholder="Введите название статьи" 
            class="form-control"><br>
            <textarea name="anons" id="anons" class="form-control" placeholder="Введите анонс статьи"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control" placeholder="Введите содержание статьи"></textarea><br>
            <button class="btn btn-warning">Добавить</button>
        </form>
      </main>
</body>

{{template "footer"}}
{{end}}